{% extends "operacion/base.html" %}
{% load static %}

{% block contenido %}
<header id="about" class="hero p-0 d-none d-md-block"></header>

<section class="container text-center margen_sec pty-0">
    <div class="row">
        <div id="nosotros" class="col-md-6 pt-1">
            <img src="{% static 'operacion/img/2.0-team.jpg' %}" class="card-img-top p-4" alt="team"></a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 mt-0 azul letra d-block d-sm-none">
            <h4 class="pt-4 pl-4 text-left">Quienes Somos, Misión y Objetivos</h4>
            <p class="">En <span class="font-weight-bold">S&Ages</span> somos una empresa de profesionales de reconocida y larga trayectoria, destinada a desarrollar e implementar proyectos en empresas del rubro de la salud, por medio del análisis de distintas estrategias, herramientas y de la aplicación de tecnologías de última generación, lo que nos permite evaluar y ajustar los procesos a las normas que lo regulan, generando procedimientos de gestión que incrementan la eficiencia en nuestros clientes y sus procedimientos.
            </p>
            <h6 class="text-center"><em>"En S&AGES Somos Especialistas en Derecho de la Salud"</em></h6>
        </div>
        <div class="col-md-5 mt-5 azul d-none d-sm-block">
            <h4 class="pt-4">Quienes Somos, Misión y Objetivos</h4>
            <p class="">En <span class="font-weight-bold">S&Ages</span> somos una empresa de profesionales de reconocida y larga trayectoria, destinada a desarrollar e implementar proyectos en empresas del rubro de la salud, por medio del análisis de distintas estrategias, herramientas y de la aplicación de tecnologías de última generación, lo que nos permite evaluar y ajustar los procesos a las normas que lo regulan, generando procedimientos de gestión que incrementan la eficiencia en nuestros clientes y sus procedimientos.
            </p>
            <h6 class="text-center"><em>"En S&AGES Somos Especialistas en Derecho de la Salud"</em></h6>
        </div>	
    </div>
</section>

<section id="servicios" class="container-fluid py-5">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md py-3 azul pl-4 puntero">
            <h4 class="mt-0 py-3 pl-4">Servicios y Gestiones</h4>

            <div class="container row">
                <div class="row">
                    <div class="col-md-1 d-block d-sm-none">
                        <p class="text-left letra"><img src="{% static 'operacion/img/3.2-icon.jpg' %}" class="card-img-top carta mx-1" alt="carta">Seguro Obligatorio de Accidentes Personales</p>							
                    </div>
                    <div class="col-md-1 d-none d-sm-block">
                        <img src="{% static 'operacion/img/3.2-icon.jpg' %}" class="card-img-top carta" alt="carta">
                    </div>
                    <div class="col-md d-none d-sm-block">							
                        <p class="text-left">Seguro Obligatorio de Accidentes Personales</p>
                    </div>
                </div>
            </div>
            <div class="container row">
                <div class="row">
                    <div class="col-md-1 d-block d-sm-none">
                        <p class="text-left letra"><img src="{% static 'operacion/img/3.2-icon.jpg' %}" class="card-img-top carta mx-1" alt="carta">Subsidio Incapacidad Laboral</p>							
                    </div>
                    <div class="col-md-1 d-none d-sm-block">
                        <img src="{% static 'operacion/img/3.2-icon.jpg' %}" class="card-img-top carta" alt="carta">
                    </div>
                    <div class="col-md d-none d-sm-block">
                        <p class="text-left">Subsidio Incapacidad Laboral</p>
                    </div>
                </div>
            </div>
            <div class="container row">
                <div class="row">
                    <div class="col-md-1 d-block d-sm-none">
                        <p class="text-left letra"><img src="{% static 'operacion/img/3.2-icon.jpg' %}" class="card-img-top carta mx-1" alt="carta">Otorgamiento de Beneficios Previsionales</p>							
                    </div>
                    <div class="col-md-1 d-none d-sm-block">
                        <img src="{% static 'operacion/img/3.2-icon.jpg' %}" class="card-img-top carta" alt="carta">
                    </div>
                    <div class="col-md d-none d-sm-block">							
                        <p class="text-left">Otorgamiento de Beneficios Previsionales</p>
                    </div>
                </div>
            </div>
            <div class="container row">
                <div class="row">
                    <div class="col-md-1 d-block d-sm-none">
                        <p class="text-left letra"><img src="{% static 'operacion/img/3.2-icon.jpg' %}" class="card-img-top carta mx-1" alt="carta">Responsabilidad Civil Médica</p>							
                    </div>
                    <div class="col-md-1 d-none d-sm-block">
                        <img src="{% static 'operacion/img/3.2-icon.jpg' %}" class="card-img-top carta" alt="carta">
                    </div>
                    <div class="col-md d-none d-sm-block">
                        <p class="text-left">Responsabilidad Civil Médica</p>
                    </div>
                </div>
            </div>
            <div class="container row">
                <div class="row">
                    <div class="col-md-1 d-block d-sm-none">
                        <p class="text-left letra"><img src="{% static 'operacion/img/3.2-icon.jpg' %}" class="card-img-top carta mx-1" alt="carta">Asesorias Profesionales de Derecho de Salud</p>							
                    </div>
                    <div class="col-md-1 d-none d-sm-block">
                        <img src="{% static 'operacion/img/3.2-icon.jpg' %}" class="card-img-top carta" alt="carta">
                    </div>
                    <div class="col-md d-none d-sm-block">							
                        <p class="text-left">Asesorias Profesionales de Derecho de Salud</p>
                    </div>
                </div>
            </div>
            <div class="container row">
                <div class="row">
                    <div class="col-md-1 d-block d-sm-none">
                        <p class="text-left letra"><img src="{% static 'operacion/img/3.2-icon.jpg' %}" class="card-img-top carta mx-1" alt="carta">Asesorias Empresariales a Instituciones de Salud</p>							
                    </div>
                    <div class="col-md-1 d-none d-sm-block">
                        <img src="{% static 'operacion/img/3.2-icon.jpg' %}" class="card-img-top carta" alt="carta">
                    </div>
                    <div class="col-md d-none d-sm-block">
                        <p class="text-left">Asesorias Empresariales a Instituciones de Salud</p>
                    </div>
                </div>
            </div>

        </div>
        
        <div class="col-md pt-2 pl-1">
            <img src="{% static 'operacion/img/3.0-servicios.jpg' %}" class="card-img-top d-none d-md-block p-4" alt="team">
        </div>
    </div>
</section>

<section>
    <img src="{% static 'operacion/img/5.0-linea.jpg' %}" class="card-img-top" alt="ante-footer">
</section>

<section id="clientes" class="container-fluid text-center py-5 mt-3 mb-5 img-gallery">
    <h1 class="azul text-center my-2 py-4">Nuestros Clientes</h1>
    <div class="row">
        
        <div class="col-md-4 col-sm-6 p-3">
            <img src="{% static 'operacion/img/F_bicentenario.png' %}" class="w-50 pl-3" alt="bicentenario">					
        </div>	
            
        <div class="col-md-4 col-sm-6">
            <img src="{% static 'operacion/img/F_isalud.jpg' %}" class="w-50 p-3" alt="isapres_del_cobre">		 <!--card-img-top -->
        </div>
        <div class="col-md-4 col-sm-6 p-2">
            <img src="{% static 'operacion/img/F_colmena.png' %}" class="w-50 p-3" alt="isapres_del_cobre">		 <!--card-img-top -->
        </div>
        <div class="col-md-4 col-sm-6 p-3">
            <img src="{% static 'operacion/img/F_mas_vida.png' %}" class="w-50 pl-3" alt="mas_vida">				
        </div>
        <div class="col-md-4 col-sm-6">
            <img src="{% static 'operacion/img/F_davila.jpg' %}" class="w-50 p-3" alt="davila">		 <!--card-img-top -->
        </div>
        <div class="col-md-4 col-sm-6 p-3">
            <img src="{% static 'operacion/img/F_consalud.png' %}" class="w-50 pl-3" alt="consalud">
        </div>
    </div>
</section>
<section>
    <img src="{% static 'operacion/img/4.3-footer.jpg' %}" class="card-img-top" alt="ante-footer">
</section>
<section id="contacto" class="container-fluid text-center pt-4 pb-2 bg_azul">
    <div class="row text-primary">
        <div class="col-md-4">
            <i class="fas fa-envelope fa-3x my-3 blanco"></i>
            <!--<h4 class="my-3 blanco">Correo Electrónico</h4> -->
    <!--		<p class="my-1">gestion@seguelabogados.cl</p>
                <p class="my-1">soap@seguelabogados.cl</p>  -->
            <p class="my-1 "><a href="./Contacto.html">info@seguelabogados.cl</a></p>
    <!--		<a href="mailto:some@gsti.cl" target="_blank" class="btn btn-primary">Email Us</a> font-weight-bold-->
        </div>
        <div class="col-md-4">
            <i class="fas fa-phone-square fa-3x my-3 blanco"></i>
            <!--<h4 class="my-3 blanco">Teléfonos</h4> -->
            <p class="my-1 "><a href="tel:+56-2-26047451">Fijo:+56 2 26047451</a></p>
            <p class="my-1 "><a href="tel:+56-9-45576609">Cel:+56 9 45576609</a></p>
        </div>
        <div class="col-md-4">
            <i class="fas fa-map-marked-alt fa-3x my-3 blanco"></i>
            <!--<h4 class="my-3 blanco">Dirección</h4> -->
            <p class="my-1 "><a href="https://www.google.cl/maps/place/Av.+Pedro+de+Valdivia+555,+Providencia,+Región+Metropolitana" target="_blank">
            # Av. Pedro de Valdivia N° 555, Of: 307, Providencia,<br>Santiago de Chile.</br></a></p>
            
        </div>
    </div>
</section>

{% endblock %}